html, body {
  font: 10px sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.linage {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.marriage {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

.man {
  background-color: lightblue;
  border: 1px solid #000;
  box-sizing: border-box;
  text-align: center;
  padding: 4px;
}

.woman {
  background-color: pink;
  border: 1px solid #000;
  box-sizing: border-box;
  text-align: center;
  padding: 4px;
}

.emphasis {
  font-style: italic;
}

p {
  padding: 0;
  margin: 0;
}

svg {
  border: none;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
